################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/FoodTherapyUI/bin/Debug/net5.0-windows
/FoodTherapyUI/obj
/FoodTherapyService/bin/Debug/net5.0
/FoodTherapyService/obj
/FoodTherapyDomain/bin/Debug/net5.0
/FoodTherapyDomain/obj
/FoodTherapyCore/bin/Debug/net5.0
/FoodTherapyCore/obj
